.menypakkeshop{
    padding: 20px;
    margin-top: -30px;
}

.shop-pic{
    margin-left: 40px;
}

.pakkeshop-header{
    width: 100%;
}

.menypakkeshop ul{
    list-style: none;
}

.qrkodebillede{
    width: 100%;
    height: 100%;
}


ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li img{
    display: block;
    text-decoration: none;
}

li i{
    display: block;
    text-decoration: none;
}

.overskriftogpil {
    list-style-type: none;
    overflow: hidden;
}

.overskriftogpil li {
    float: left;
}

.overskriftogpil h3{
    display: block;
    text-decoration: none;
}

.pil{
    display: block;
    text-decoration: none;
}

.adresse{
    font-family: "DIN Condensed", sans-serif;
    font-size: 18px;
}

.solsikkevej{
    font-family: "Noto Sans Kannada", sans-serif;
    font-size: 18px;
}