* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

a{
	color: inherit !important;
	text-decoration: none;
}

body {
	margin: 0;
	font-family: Poppins, sans-serif;
	background-color: #1D1E38;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

// NAVBAR
.mobile-nav{
	background-color: #1D1E38;
	position: fixed;
	bottom: 0;
	height: 150px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-left: -20px;
}

.bloc-icon{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 600px){
	.mobile-nav{
		display: none;
	}

	.logind-pic{
	object-fit: cover;
	}
}

.fa-box-open{
	font-size: 40px;
	margin-top: 10px;
	margin-left: 9px;
	position: relative;
}

.fa-box-open a{
	text-decoration: none;
}

.fa-gear{
	font-size: 30px;
	margin-left: 15px;
	margin-top: 15px;
}

.fa-plus{
	font-size: 30px;
	margin-left: 16px;
	margin-top: 15px;
	position: relative;
}

.bi-hexagon-fill{
	margin-left: 10px;
	margin-top: 8px;
	position: absolute;
}

.callplusmail-navbar{
	height: 60px;
	width: 60px;
	background-color: #4DA9BE;
	border-radius: 100%;
	margin-top: 10px;
}

.package-navbar{
	margin-left: 20px;
}

.settings-navbar{
	margin-right: 10px;
}

// log ind side
.white-logind-box{
	height: 281px;
	width: 309px;
	background-color: white;
	top: 50%;
	left: 50%;
	margin-left: 55px;
}

.orcreateuser{
	font-size: 21px;
	font-family: "DIN Condensed", sans-serif;
	margin-left: 7px;
}

button a:hover{
	background-color: #4DA9BE !important;
}

.logind-tekst{
	margin-left: 60px;
	margin-bottom: 10px;
	font-size: 36px;
	font-family: "DIN Alternate", sans-serif;
}


.logind-input{
	margin-left: 60px;
}

.logind-pic{
	margin-left: 50px;
	margin-top: 60px;
}

.form-control{
	width: 280px;
	height: 48px;
	margin-left: 10px;
	border-radius: .450rem;
}

.form-control::placeholder{
	font-family: "Noto Sans Oriya", sans-serif;
}





.glemtadgangskode{
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: italic;
	margin-left: 10px;
	margin-top: -20px;
	margin-bottom: 50px;
	color: #03B9CD;
}

.logind-btn{
	width: 300px;
	height: 50px;
	background-color: #4DA9BE;
	font-family: "DIN Condensed", sans-serif;
	font-size: 22px;
	border-radius: .450rem;
}

.logind-btn:hover{
	background-color: #4DA9BE;
}


.logind-text{
	margin-top: 5px;
}

.logind-text a{
	text-decoration: none;
	color: inherit;
}







.glemtadgangskode a{
	text-decoration: none;
	color: inherit;
}


// Pakke-beskrivelses side
.upperbox{
	background-color: white;
	top: 10%;
	left: 50%;
	margin-left: 25px;
	width: 319px;
	height: 152px;
}

.fa-arrow-left{
	font-size: 30px;
	margin-top: 9px;
	margin-left: 5px;
}

.Zalando-text{
	color: #4DA9BE;
	font-size: 30px;
	font-family: "DIN Alternate", sans-serif;
	margin-left: 10px;
}

.yellow-circle{
	height: 48px;
	width: 48px;
	background-color: #FEB501;
	border-radius: 100%;
	margin-right: 115px;
	margin-top: 10px;
}

.callplusmail{
	height: 42px;
	width: 42px;
	background-color: #4DA9BE;
	border-radius: 100%;
	margin-top: 10px;
}

.fa-ups{
	font-size: 40px;
	margin-left: 9px;
	margin-top: 4px;
}

.fa-envelope{
	font-size: 26px;
}

.fa-phone{
	font-size: 26px;

}


// all-packages side
.little-orange-box{
	width: 78px;
	height: 35px;
}

.little-white-box{
	width: 78px;
	height: 35px;
}


// indstillings-side

.settings-text{
	color: #4DA9BE;
	font-size: 30px;
	font-family: "DIN Condensed", sans-serif;
	margin-left: -21px;
}

.big-settings-box{
	width: 279px;
	height: 504px;
}

.icon_and_settingstitle{
	margin-left: 46px;
}

.settings-title{
	font-family: "Helvetica Neue", sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.big-settings-box a{
	text-decoration: none;
}

.settings-title a{
	text-decoration: none;
}

.settings-title-description{
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 12px;
	margin-left: 75px;
}

.fa-user{
	font-size: 20px;
	padding-right: 10px;
}

.fa-bell{
	font-size: 20px;
	padding-right: 10px;
}

.fa-language{
	font-size: 20px;
	padding-right: 10px;
}

.fa-circle-question{
	font-size: 20px;
	padding-right: 10px;
}

.fa-circle-exclamation{
	font-size: 20px;
	padding-right: 10px;
}

.fa-share-nodes{
	font-size: 20px;
	padding-right: 10px;
}

.fa-right-from-bracket{
	font-size: 20px;
	padding-right: 10px;
}

.languages_iconand{
	margin-left: 40px;
}

.logout{
	margin-right: 20px;
	font-size: 17px;
}

.backbtn{
	margin-top: -2px;
}

// Live-tracking side

.white-logind-box{
	height: 281px;
	width: 309px;
	background-color: white;
	top: 50%;
	left: 50%;
	margin-left: 55px;
}

.live-tracking-date{
	font-size: 12px;
	margin-left: -20px;
}

.arrived-text{
	font-size: 13px;
	font-style: normal;
}

.tracking-text{
	margin-left: 8px;
	font-style: italic;
	font-family: "Helvetica Neue", sans-serif;
}

.little-track-text{
	font-size: 10px;
	font-style: italic;
}

.fa-rectangle-list{
	font-size: 25px;
	margin-left: -10px;
}

.fa-industry{
	font-size: 25px;
	margin-left: -10px;
}

.fa-cube{
	font-size: 25px;
	margin-left: -10px;
}

.fa-truck{
	font-size: 25px;
	margin-left: -10px;
}

.fa-terminal{
	font-size: 25px;
	margin-left: -10px;
}




.livetracking-zalando{
	font-family: "Helvetica Neue", sans-serif;
	font-size: 23px;
}

.gm-style .place-card-medium{
	display: none;
}

// Sprog-side - miniside


#slct{
	font-size: 18px;
	border: 0.7px transparent;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: bold;
	margin-left: -5px;
}

.language-title{
	font-family: "DIN Alternate", sans-serif;
	font-size: 15px;
}

// add-side

.form-control2{
	width: 213px;
	height: 41px;
	margin-top: 40px;
	border-radius: .450rem;
}

.form-control2::placeholder{
	color: white !important;
	text-align: start;
	padding: 15px;
	margin-left: 10px;
	font-size: 16px;
}





input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.form-control2:active{
	color: white;
}

.form-control3{
	width: 280px;
	height: 48px;
	margin-left: 10px;
	border-radius: .450rem;
}

.form-control4{
	color: black;
	width: 280px;
	height: 48px;
	margin-left: 10px;
	border-radius: .450rem;
	font-family: Roboto, sans-serif;
}

.form-control4::placeholder{
	color: black;
	width: 280px;
	height: 48px;
	margin-left: 10px;
	border-radius: .450rem;
	font-family: arial, sans-serif;

}

.ok-button{
	padding: 10px 30px;
	margin-left: 60px;
}
#btn-modtager{
	background-color: #FF6800;
	color: #fff;
	border-radius: 25px;
	border: none;
	padding: 10px 20px;

	margin-top: 5px;
}

#btn-afsender{
	background-color: #1D1E38;
	color: #fff;
	border-radius: 25px;
	border: none;
	padding: 10px 20px;
	margin-left: 55px;
	margin-top: 5px;

}
.add-white-box{
	width: 248px;
	height: 170px;
	margin-left: 60px;
}

.add-round-box{
	width: 286px;
	height: 256px;
	margin-left: 55px;
	margin-top: -70px;
}

.add-box{
	margin-left: 41px;
	margin-top: -60px;
	width: 80%;
}

.button-box{
	width: 210px;
	height: 50px;
	background-color: #1D1E38;
	border-radius: 25px;
	margin-left: 38px;
}

// checkbox
.add-check{
	-webkit-appearance: none;
	position: relative;
	background-color: #1D1E38;
	width: 120px;
	height: 40px;
	border-radius: 20px;
}

.add-check::before{
	content: "";
	position: absolute;
	height: 40px;
	width: 70px;
	background-color: #FF6800;
	border-radius: 20px;
	transform: scale(1.1);
	transition: 4s ease-in-out;
	top: 12%;
	margin-left: -30px;
}

.add-check:checked{
	background-color: transparent;
	left: 82px;
}

.modaf{
	margin-left: 10px;
}

.reciever{
	margin-right: 20px;
}

.sender{
	margin-top: 10px;
}

// pakkenummer-side
.rundknap{
	margin-left: 10px;
}

.pakkenummer{
	margin-bottom: 75px;
}







// glemt adgangskode
.forgotten-pass{
	color: #4DA9BE;
	font-size: 30px;
	font-family: "DIN Alternate", sans-serif;
	margin-left: -10px;
	margin-top: -5px;
	font-weight: bold;
}

.forgotten-pass-page2{
	color: #4DA9BE;
	font-size: 35px;
	font-family: "DIN Alternate", sans-serif;
	margin-left: 105px;
	margin-top: -5px;
	font-weight: bold;}

.asking-lady{
	margin-left: 72px;
	margin-top: 60px;
}

.email-sent{
	margin-left: 80px;
	font-family: "DIN Alternate", sans-serif;
	font-size: 26px;
	font-weight: bold;
}

.forgotten-logind{
	width: 300px;
	height: 50px;
	font-family: "DIN Condensed", sans-serif;
	font-size: 22px;
	border-radius: .450rem;
	margin-left: -10px;
	margin-top: 4px;
}

.forgotten-btn{
	width: 300px;
	height: 50px;
	background-color: #4DA9BE;
	font-family: "DIN Condensed", sans-serif;
	font-size: 22px;
	border-radius: .450rem;
	margin-left: 40px
}

.logind-btn2{
	width: 300px;
	height: 50px;
	font-family: "DIN Condensed", sans-serif;
	font-size: 22px;
	border-radius: .450rem;
}

//make user
.make-user{
	margin-left: 40px;
}

.user-check:checked ~ .checkmark {
	background-color: black;
}

#text{
	font-family: sans-serif;
}


.little-usertext{
	font-size: 15px;
	margin-left: 50px;
	font-family: Roboto, sans-serif;
}

.user-check{
	width: 30px;
	height: 30px;
	margin-left: 15px;
}

.checkandtext{
	margin-left: -125px;
}

.accept-check{
	margin-right: -180px;
}

.form-control{
	font-family: Roboto, sans-serif;
}

#btnSubmit{
	font-family: "DIN Condensed", sans-serif;
	font-size: 20px;
}


//return side
.return-postnord{
	width: 500px;
	margin-left: 20px;
	margin-top: -20px;
}

.return-check[type="checkbox"]{
	width: 50px;
	height: 50px;
	background-color: transparent;
}

.checkandpic{
	margin-left: 30px;
}

.return-pic{
	width: 50px;
	margin-left: 20px;
}
.return-descrip{
	font-family: Roboto, sans-serif;
	margin-top: 20px;
	font-size: 15px;
}

.up-pakke{
	margin-top: -20px;
	font-family: "DIN Condensed", sans-serif;
	font-size: 22px;
}

.packnumber{
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: lighter;
}

.fa-copy{
	font-size: 12px;
	margin-top: -20px;
	margin-left: 208px;
}





